/* 

Variables, reset, globals

*/
@font-face {
    font-family: 'RobotoItalic';
    src: url(/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {

    /*------- Basic scale ---------*/
    --space-1: 0.5rem;  /* 8px */
    --space-2: 1rem;    /* 16px */
    --space-3: 1.5rem;    /* 24px */
    --space-4: 2rem;    /* 32px */
    --space-5: 3rem;    /* 48px */
    --space-6: 4rem;    /* 64px */
    --space-7: 6rem;    /* 96px */

    --color-bg-dark: #1F2937;
    --color-text-dark: #1F2937;
    --color-text-light: #F9FAF8;
    --color-text-hero-main: #F9FAF8;
    --color-text-hero-secondary: #E5E7EB;
    --color-text-header-logo: #F9FAF8;
    --color-bg-button: #3882F6;
    --color-border: #3882F6;
    --color-text-quote: #1F2937;  

    --font-size-hero-main:      clamp(2rem, 1.648rem + 1.408vw, 3rem);     /* 32px → 48px */
    --font-size-hero-secondary: clamp(1rem, 0.956rem + 0.176vw, 1.125rem); /* 16px → 18px */
    --font-size-body: clamp(1rem, 0.956rem + 0.176vw, 1.125rem); /* 16px → 18px */
    --font-size-h2: clamp(1.75rem, 1.662rem + 0.352vw, 2rem); /* 28px → 32px */
    --font-size-quote: clamp(1.5rem, 1.236rem + 1.056vw, 2.25rem);/* 24px → 36px */

    --font-weight-extrabold: 900;
    --font-weight-light: 300; 
    --font-weight-regular: 400; 
    --font-style-italic: italic;

}

/*--------- Basic reset ---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
}

img, picture, svg {
    display: block; /* avoids inline issues like line-height automatically applied by browsers*/
    max-width: 100%; /* prevents images from growing beyond its container*/
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

main {
    position: relative;
}
