.features {
    padding: 50px 20px;
    background-color: white;
    margin: 0;
}

.features-title {
    text-align: center;
    font-size: var(--font-size-h2);
    padding-bottom: var(--space-3);
    /* margin-bottom: 3rem; */
    color: var(--color-text-dark);
}

.features-cards {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: var(--space-4);
    justify-content: center;
}

.features-individual {
    width: 10rem;
    text-align: center;
}

.features-img {
    width: 100%;
    border: 3px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 10px;
}

.features-text {
    color: #1f2937;
    font-size: 16px;
}


/*----------------------- Media Queries -----------------------*/

/* Tablet */
@media (min-width: 768px) {
    .features {
        padding-inline: var(--space-3);
    }

   .features__cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .features__card {
        width: 40%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    figure {
        width: 100%;
    }

    .features__image {
        width: 100%;
    }
}

/* Desktop & Horizontal Tablet */
@media (min-width: 1024px) {
    .features {
        padding-inline: 0;
        margin-inline: var(--space-6);
    }

    .features__cards {
        flex-direction: row;
    }

    figure {
        width: 100%;
    }

    .features__image {
        width: 100%;
    }
}

/* XL Desktop */
@media (min-width: 1280px) {
    .features__cards {
        justify-content: center;
    }
    .features__card {
      width: 20%;
    }
}

/* XXL Desktop */
@media (min-width: 1536px) {
   .features__cards {
      padding-inline: calc((100% - 1440px) / 2);;
    }
}