.features {
    padding: 50px 20px;
    background-color: white;
    margin: 0;
}

.features-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 3rem;
    color: #1f2937;
}

.features-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.features-individual {
    width: 10rem;
    text-align: center;
}

.features-img {
    width: 100%;
    border: 3px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 10px;
}

.features-text {
    color: #1f2937;
    font-size: 16px;
}
