.hero {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--color-bg-dark);
    display: flex;
    flex-direction: column;
    padding-block: var(--space-5);
}

.hero__content {
   display: flex;
   flex-direction: column;
   gap: var(--space-2);

}

.hero__title {
    color: var(--color-text-hero-main);
    font-size: var( --font-size-hero-main);
    font-weight: var(--font-weight-extrabold);
}

.hero__text {
    color: var(--color-text-hero-secondary);
    font-size: var( --font-size-hero-secondary);
}

.hero__button {
    background-color: var(--color-bg-button);
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
}

.hero__media {

}

.hero__image {

}


/*----------------------- Media Queries -----------------------*/

/* Tablet */
@media (min-width: 768px) {
    .hero {
        flex-direction: row;
    }

    .hero__content {
        max-width: 50%;
        justify-content: center;
        /* padding-inline: var(--space-4); */
    }

    .hero__media {
        max-width: 50%;
        display: flex;
        align-items: center;
    }

    .hero__image {
        min-width: 50%;
        object-fit: contain;
    }
}

/* Desktop & Horizontal Tablet */
@media (min-width: 1024px) {
    .hero {
        height: auto;
    }
}

/* XL Desktop */
@media (min-width: 1280px) {
   
}

/* XXL Desktop */
@media (min-width: 1536px) {
   
}