.testimonials {
    background-color: #E5E7EB;
    font-size: var(--font-size-quote);
    font-style: var(--font-style-italic);
    color: var(--color-text-quote);
    padding: 80px 20%;
}

.testimonials p {
    max-width: 50rem;
    margin: 0 auto;
}

.quote {
    font-weight: var(--font-weight-light);
    
}

.signature {
    font-weight: bold;
    text-align: right;
    font-size: 30px;
}
