.about {
    line-height: 1.5;
    font-size: var(--font-size-body);
    color: var(--color-text-dark);
    padding-inline: calc((100% - 1440px) / 2);
}

.about h1 {
    font-size: var(--font-size-hero-main);
}

.about__intro {
    display: flex;
    justify-content: space-between;
}

.about__intro__text {
    width: 50%;
    align-self: center;
    padding: 0 var(--space-5) 0 0;
    text-align: justify;
}

.about__intro figure {
    height: 30rem;
    margin: var(--space-3) 0;
}

.about__intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 90%;
    border-radius: 10px;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-7);
    margin: var(--space-3) 0;
    text-align: center;
}

.about__topics h2 {
    font-size: var(--font-size-h2);
}

.about__topics img {
    margin: var(--space-3) auto;
    height: 10rem;
}


@media (max-width: 1280px) {

    .about__intro {
        display: grid;

    }

    .about__intro__text {
        width: 100%;
        padding: 0;
    }

    .about__intro img {
        height: 20rem;
    }

    .about__grid {
        display:inline-block;
        width: 100%;
    }

    .about__topics {
        width: 60%;
        justify-self: center;
    }

} 
