.about {
    line-height: 1.5;
    font-size: var(--font-size-body);
    color: var(--color-text-dark);
    padding-inline: var(--space-2);
    padding-block: var(--space-5);
}

.about h1 {
    font-size: var(--font-size-hero-main);
    padding-bottom: var(--space-3);
    white-space: nowrap;
    overflow-wrap: normal;
    word-spacing: 0.35rem;
}

.about__intro {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.about__intro__text {
    width: 100%;
    text-align: left;
}

.about__intro figure {
    width: 100%;
}

.about__intro img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 100% 90%;
    border-radius: 10px;
}

.about__grid {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    margin: var(--space-3) 0;
    text-align: center;
    padding-block: var(--space-5);
}

.about__topics h2 {
    font-size: var(--font-size-h2);
    padding-bottom: var(--space-1);
}

.about__topics img {
    margin: var(--space-3) auto;
    height: 6rem;
}

.about__topics p {
    line-height: 1.5;
}

/*----------------------- Media Queries -----------------------*/

/* Tablet */
@media (min-width: 768px) {
    .about {
        padding-inline: var(--space-4);
    }

    .about__grid {
        flex-direction: row;
        justify-content: space-between;
        gap: var(--space-4);
        padding-inline: var(--space-2);
    }

    .about__topics {
        flex: 1;
    }
}

/* Desktop & Horizontal Tablet */
@media (min-width: 1024px) {
    .about {
        padding-inline: var(--space-6);
    }

    .about__intro {
        flex-direction: row;
        align-items: center;
        gap: var(--space-6);
    }

    .about__intro__text {
        width: 50%;
        text-align: justify;
    }

    .about__intro figure {
        width: 50%;
    }

    .about__intro img {
        height: 30rem;
    }

    .about__grid {
        padding-inline: var(--space-4);
        gap: var(--space-7);
    }

    .about__topics img {
        height: 10rem;
    }
}

/* XXL Desktop */
@media (min-width: 1536px) {
    .about {
        padding-inline: calc((100% - 1440px) / 2);
    }
}
