.products {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding-block-start: var(--space-6);
    padding-block-end: calc(var(--space-6) * 2);
    margin-inline: var(--space-2);
}

.products__content {
    padding-bottom: var(--space-4);
    border-bottom: 1px solid black;
}

.products__content h1 {
    font-size: var(--font-size-hero-main);
    color: var(--color-text-dark);
    padding-bottom: var(--space-1);
}

.products__content p {
    line-height: 1.5;
    font-size: var(--font-size-body);
    font-style: var( --font-style-italic);
    color: var(--color-text-dark);
}

.products__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-4);
}

.products__card {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    width: 100%;
    overflow: hidden;
    border-radius: 1%;
    box-shadow: 0px 2px 2px 2px hsl(0 0 0 / 15%);

}

.products__card-content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--space-1) / 2);
    margin-inline: var(--space-3);
    padding-block: var(--space-3);
}

.products__card-content h2 {
    font-size: var(--font-size-h2);
    color: var(--color-text-dark);
}

.products__card-content p {
    line-height: 1.5;
    font-size: var(--font-size-small);
    color: var(--color-text-dark);
}

/*----------------------- Media Queries -----------------------*/

/* Tablet */
@media (min-width: 768px) {

    .products__grid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        gap: var(--space-3);
    }

    .products__card {
        width: calc((100% - var(--space-3)) / 2);

    }
}

/* Desktop & Horizontal Tablet */
@media (min-width: 1024px) {
    .products__grid {
        flex-wrap: nowrap;
    }

    .products__content h1,
    .products__content p {
        width: 70%;
    }

    .products__card {
        width: calc((100% - var(--space-3)) / 3);

    }
}

/* XL Desktop */
@media (min-width: 1280px) {
    .products {
        margin-inline: var(--space-6);
    }
}

/* XXL Desktop */
@media (min-width: 1536px) {
    .products {
        padding-inline: calc((100% - 1440px) / 2);
    }
}